In [2]:
import pandas as pd

In [6]:

yelp_tab = pd.read_csv("Output/Yelp_table.csv")

In [7]:
yelp_tab

,Stars,Chipotle Mexican Grill,Five Guys,McDonalds,Panera Bread,Shake Shack,Taco Bell,Texas Roadhouse,The Halal Guys
0,1.0,3,0,684,0,0,56,0,0
1,1.5,285,4,4759,113,0,552,0,0
2,2.0,316,0,5462,646,0,934,0,0
3,2.5,1978,67,2214,2346,0,1644,0,19
4,3.0,3769,738,912,2149,0,1139,242,344
5,3.5,2718,2637,230,1181,1774,470,3031,935
6,4.0,197,1473,54,32,3297,235,0,74
7,4.5,0,116,13,22,0,4,0,0
8,5.0,0,12,0,0,0,0,5,0

In [8]:
def mean_sd(df_col):
    for clm in df:
        if df[clm] == df_col:
            for 
        


# #convert frequency to cases for mean and std dev calc
# def freqs2cases(df, freq_col, cases_cols):
#     def itcases():
#         for i, row in df.iterrows():
#             for j in range(int(row[freq_col])):
#                 yield row[cases_cols]
#     return pd.DataFrame(itcases())