In [39]:
import glob
import pandas as pd
import os

In [50]:
glob_path = "New Timeline data"
all_files = glob.glob(glob_path+"/*.csv")
glob_df = pd.concat([pd.read_csv(fp).assign(New=os.path.basename(fp).split('.')[0]) for fp in all_files])

In [51]:
glob_df.head()

                           Category: All categories       New
Week        Chipotle Mexican Grill: (United States)  Chipotle
2017-09-24                                       65  Chipotle
2017-10-01                                       66  Chipotle
2017-10-08                                       61  Chipotle
2017-10-15                                       64  Chipotle

In [52]:
glob_df.reset_index(level=0, inplace=True)
glob_df.columns = glob_df.iloc[0]
glob_df = glob_df.iloc[1:]
glob_df = glob_df.rename(columns={"Chipotle Mexican Grill: (United States)":"Score","Chipotle": "Franchise"})
glob_df.keys()

#table = pd.pivot_table(glob_df, index =['New'])

Index(['Week', 'Score', 'Franchise'], dtype='object', name=0)

In [53]:
glob_df.head()

0        Week Score Franchise
1  2017-09-24    65  Chipotle
2  2017-10-01    66  Chipotle
3  2017-10-08    61  Chipotle
4  2017-10-15    64  Chipotle
5  2017-10-22    67  Chipotle

In [57]:
#table = pd.pivot_table(glob_df, index =['Week', 'Franchise']) 
table = glob_df.pivot(index ='Week', columns ='Franchise', values =['Score'])
table.keys()

MultiIndex(levels=[['Score'], ['Chipotle', 'Five Guys', 'Halal Guys', 'McDonalds', 'Panera Bread', 'Shake Shack', 'Taco Bell', 'Texas Roadhouse']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7]],
           names=[None, 'Franchise'])

In [58]:
table.head()

              Score                                                          \
Franchise  Chipotle Five Guys Halal Guys McDonalds Panera Bread Shake Shack
Week
2017-09-24       65        73         74        55           88          46
2017-10-01       66        75         74        75           87          46
2017-10-08       61        75         71        65           91         100
2017-10-15       64        79         79        57           90          60
2017-10-22       67        77         75        57           91          53


Franchise  Taco Bell Texas Roadhouse
Week
2017-09-24        61              48
2017-10-01        68              47
2017-10-08        66              48
2017-10-15        62              48
2017-10-22        64              47

In [60]:
table.reset_index()

                 Week    Score                              \
Franchise             Chipotle                   Five Guys
0          2017-09-24       65                          73
1          2017-10-01       66                          75
2          2017-10-08       61                          75
3          2017-10-15       64                          79
4          2017-10-22       67                          77
5          2017-10-29       84                          76
6          2017-11-05       64                          75
7          2017-11-12       59                          71
8          2017-11-19       52                          73
9          2017-11-26       58                          70
10         2017-12-03       58                          73
11         2017-12-10       56                          74
12         2017-12-17       60                          82
13         2017-12-24       61                          86
14         2017-12-31       65                          84
15         2018-01-07       58                          74
16         2018-01-14       59                          75
17         2018-01-21       59                          77
18         2018-01-28       60                          75
19         2018-02-04       58                          74
20         2018-02-11       62                          82
21         2018-02-18       62                          89
22         2018-02-25       66                          83
23         2018-03-04       61                          85
24         2018-03-11       60                          85
25         2018-03-18       62                          85
26         2018-03-25       62                          92
27         2018-04-01       69                          90
28         2018-04-08       61                          82
29         2018-04-15       63                          82
..                ...      ...                         ...
76         2019-03-10       77                          92
77         2019-03-17       74                          89
78         2019-03-24       76                          94
79         2019-03-31       88                          91
80         2019-04-07       78                          87
81         2019-04-14       77                          91
82         2019-04-21       83                          94
83         2019-04-28       80                          89
84         2019-05-05       91                          86
85         2019-05-12       74                          88
86         2019-05-19       77                          93
87         2019-05-26       82                         100
88         2019-06-02       95                          88
89         2019-06-09       80                          95
90         2019-06-16       76                          91
91         2019-06-23       80                          92
92         2019-06-30       78                          98
93         2019-07-07       76                          85
94         2019-07-14       76                          94
95         2019-07-21       80                          95
96         2019-07-28       86                          92
97         2019-08-04       82                          92
98         2019-08-11       73                          89
99         2019-08-18       71                          82
100        2019-08-25       68                          84
101        2019-09-01       68                          77
102        2019-09-08       68                          76
103        2019-09-15       73                          80
104        2019-09-22       76                          82
105              Week      NaN  Five Guys: (United States)

                                                                         \
Franchise                       Halal Guys                    McDonalds
0                                       74                           55
1                                       74                           75
2                                       71                           65
3                                       79                           57
4                                       75                           57
5                                       59                           55
6                                       65                           56
7                                       72                           57
8                                       68                           66
9                                       63                           54
10                                      64                           54
11                                      66                           52
12                                      75                           55
13                                      91                           87
14                                      70                           68
15                                      68                           59
16                                      76                           59
17                                      72                           57
18                                      60                           56
19                                      70                           55
20                                      70                           57
21                                      75                           58
22                                      74                           65
23                                      78                           64
24                                      68                           59
25                                      84                           57
26                                      83                           66
27                                      76                           61
28                                      72                           59
29                                      72                           59
..                                     ...                          ...
76                                      81                           64
77                                      81                           65
78                                      81                           67
79                                      86                           65
80                                      88                           63
81                                      88                           64
82                                      83                           67
83                                      81                           66
84                                      90                           66
85                                     100                           67
86                                      88                           67
87                                      95                           72
88                                      95                           73
89                                      92                           78
90                                      87                           76
91                                      90                           83
92                                      91                           79
93                                      87                           74
94                                      88                           75
95                                      87                           76
96                                      83                           74
97                                      78                           69
98                                      78                           71
99                                      92                           67
100                                     82                           66
101                                     77                           66
102                                     72                           61
103                                     77                           62
104                                     71                           63
105        The Halal Guys: (United States)  McDonald's: (United States)

                                                                        \
Franchise                   Panera Bread                   Shake Shack
0                                     88                            46
1                                     87                            46
2                                     91                           100
3                                     90                            60
4                                     91                            53
5                                     90                            51
6                                     97                            52
7                                     90                            48
8                                     76                            49
9                                     82                            50
10                                    88                            53
11                                    88                            64
12                                    92                            63
13                                    88                            67
14                                    92                            56
15                                    89                            50
16                                    91                            58
17                                    91                            48
18                                    95                            51
19                                    83                            57
20                                    86                            53
21                                    90                            59
22                                    90                            51
23                                    87                            54
24                                    86                            58
25                                    91                            65
26                                    88                            71
27                                    93                            65
28                                    84                            56
29                                    89                            65
..                                   ...                           ...
76                                    89                            74
77                                    89                            83
78                                    91                            86
79                                    90                            77
80                                    88                            82
81                                    90                            81
82                                    91                            76
83                                    91                            79
84                                    88                            76
85                                    91                            78
86                                    91                            91
87                                    85                            90
88                                    89                            88
89                                    88                            89
90                                    88                            86
91                                    92                            89
92                                    82                            93
93                                    88                            82
94                                    90                            91
95                                    91                            90
96                                    89                            97
97                                    90                            98
98                                    91                            87
99                                    86                            94
100                                   82                            82
101                                   77                            75
102                                   84                            67
103                                   87                            67
104                                   90                            65
105        Panera Bread: (United States)  Shake Shack: (United States)


Franchise                   Taco Bell                   Texas Roadhouse
0                                  61                                48
1                                  68                                47
2                                  66                                48
3                                  62                                48
4                                  64                                47
5                                  71                                49
6                                  57                                66
7                                  56                                55
8                                  66                                55
9                                  59                                47
10                                 57                                52
11                                 55                                57
12                                 62                                70
13                                 79                                84
14                                 76                                80
15                                 66                                60
16                                 61                                66
17                                 81                                61
18                                 80                                62
19                                 64                                57
20                                 63                                84
21                                 65                                71
22                                 62                                66
23                                 59                                64
24                                 62                                62
25                                 66                                63
26                                 69                                66
27                                 70                                66
28                                 67                                58
29                                 68                                60
..                                ...                               ...
76                                 77                                74
77                                 76                                72
78                                 74                                70
79                                 77                                67
80                                 76                                64
81                                 79                                68
82                                 82                                67
83                                 81                                63
84                                 79                                71
85                                 92                                82
86                                 99                                65
87                                 97                                68
88                                 93                                62
89                                 93                                70
90                                100                                79
91                                 96                                66
92                                 99                                68
93                                 94                                61
94                                 95                                64
95                                 95                                66
96                                 92                                67
97                                 90                                65
98                                 91                                65
99                                 87                                65
100                                85                                59
101                                82                                61
102                                79                                54
103                                86                                58
104                                87                                59
105        Taco Bell: (United States)  Texas Roadhouse: (United States)

[106 rows x 9 columns]

In [61]:
table.keys()

MultiIndex(levels=[['Score'], ['Chipotle', 'Five Guys', 'Halal Guys', 'McDonalds', 'Panera Bread', 'Shake Shack', 'Taco Bell', 'Texas Roadhouse']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7]],
           names=[None, 'Franchise'])

In [62]:
table.columns = table.columns.droplevel()

In [63]:
table.head()

Franchise,Chipotle,Five Guys,Halal Guys,McDonalds,Panera Bread,Shake Shack,Taco Bell,Texas Roadhouse
Week,,,,,,,,
2017-09-24,65,73,74,55,88,46,61,48
2017-10-01,66,75,74,75,87,46,68,47
2017-10-08,61,75,71,65,91,100,66,48
2017-10-15,64,79,79,57,90,60,62,48
2017-10-22,67,77,75,57,91,53,64,47

In [65]:
table.to_csv("New Timeline data/combined.csv")